<h2>Annoteren van tweets</h2>

{% if remaining %}
{{ student.student_id }} Je hebt nog {{ remaining }} tweet{% if remaining > 1 %}s{% endif %} te gaan: {{ remaining_vl }} over vluchtelingen, en {{ remaining_eb }} over ebola. <br>
Terug naar de <a href="/that/annotate/">hoofdpagina</a>.
<br><br>


{% for key, annotation in twannotations.items %}
	<h2>Tweet over {% if type == 'eb' %}ebola{% else %}vluchtelingen{% endif %}</h2>

	{{ annotation.tweet.tweet_text|urlize }}<br>

	<form action="{% url 'annotate:addannotation' student.student_id %}" method="post">
		{% csrf_token %}
		
	  <select name="humortype" id="humortype{{ key }}">
		{% for ht in humor_types %}  
		    <option value="{{ ht }}">{{ ht }}</option>
		{% endfor %}
	  </select>
	  
	  {% if type == 'eb' %}
	  <select name="distanceeb" id="distanceeb{{ key }}">
		{% for de in distance_eb %}  
		    <option value="{{ de }}">{{ de }}</option>
		{% endfor %}
	  {% else %}
	  <select name="distancevl" id="distancevl{{ key }}">
		{% for dv in distance_vl %}  
		    <option value="{{ dv }}">{{ dv }}</option>
		{% endfor %}
	  {% endif %}
	  </select>
	  
	  <select name="source" id="source{{ key }}">
		{% for s in source %}  
		    <option value="{{ s }}">{{ s }}</option>
		{% endfor %}
	  </select>
	  
	  <select name="contenttype" id="contenttype{{ key }}">
		{% for ct in content_type %}  
		    <option value="{{ ct }}">{{ ct }}</option>
		{% endfor %}
	  </select>
	  
	  {% if type == 'eb' %}
	  <select name="fear" id="fear{{ key }}">
		{% for f in fear %}  
		    <option value="{{ f }}">{{ f }}</option>
		{% endfor %}
	  {% else %}
	  <select name="attitude" id="attitude{{ key }}">
		{% for a in attitude %}  
		    <option value="{{ a }}">{{ a }}</option>
		{% endfor %}
	  {% endif %}
	  </select>
	  
	  <input type="hidden" name="type" value="{{ type }}">

	  <button type="submit" name="submit" value="{{ annotation.annotation.annotation_id }}">Bevestig</button>
	</form>

<table border="1">
	  <tr>
	    <td>user name</td>
	    <td>{{ annotation.tweet.user_name }} </td>
	 </tr>
	 <tr>
	    <td>date</td>
	    <td>{{ annotation.tweet.date }} </td>
	 </tr>
	 <tr>
	    <td>time</td>
	    <td>{{ annotation.tweet.time }} </td>
	 </tr>
	  <tr>
	    <td>user id</td>
	    <td>{{ annotation.tweet.user_id }} </td>
	 </tr>
	 <tr>
	    <td>tweet id</td>
	    <td>{{ annotation.tweet.tweet_id }} </td>
	 </tr>
	 <tr>
	    <td>reply to user id</td>
	    <td>{{ annotation.tweet.reply_to_user }} </td>
	 </tr>
	 <tr>
	    <td>reply to user url</td>
	    <td><a href="{{ annotation.tweet.reply_to_user_url }}">{{ annotation.tweet.reply_to_user_url }}</a> </td>
	 </tr>
	 <tr>
	    <td>retweet to user id</td>
	    <td>{{ annotation.tweet.retweet_to_user_id }} </td>
	  </tr>
	  <tr>
	    <td>retweet to user url</td>
	    <td><a href="{{ annotation.tweet.retweet_to_user_url }}">{{ annotation.tweet.retweet_to_user_url }}</a> </td>
	  </tr>
	 <tr>
	    <td>user followers</td>
	    <td>{{ annotation.tweet.user_followers }} </td>
	 </tr>
	 <tr>
	    <td>user location</td>
	    <td>{{ annotation.tweet.user_location }} </td>
	 </tr>
	 <tr>
	    <td>tweet location</td>
	    <td>{{ annotation.tweet.tweet_location }} </td>
	 </tr>
	 <tr>
	    <td>hashtags</td>
	    <td>{{ annotation.tweet.hashtags }} </td>
	 </tr>
         <tr>
            <td>tweet url</td>
            <td><a href="{{ annotation.tweet.tweet_url }}">{{ annotation.tweet.tweet_url }}</a></td>
         </tr>
	</table> 

(annotatie-id {{ annotation.annotation.annotation_id }})

{% endfor %}
{% else %}
	Je bent klaar met het annoteren van tweets!

{% endif %}

<a href="http://applejack.science.ru.nl/languagemachines" style="display: block"><img src="http://applejack.science.ru.nl/lamabadge.php/that" alt="badge" /></a>
